@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

header {
    background-color: #1f2937;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

li {
    font-size: 18px;
    color: #e5e7eb;
    cursor: pointer;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.section-one {
    background-color: #1f2937;
    color: white;
    padding: 80px 12% 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 12px;
}

.right {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    min-height: 222px;
    max-height: 325px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 4px 24px;

    font-size: 18px;
    font-weight: bold;
    border-color: #3882f6;
    border-radius: 6px;
    border-style: solid;
    cursor: pointer;
}

.section-two {
    padding: 36px 12% 100px;
    text-align: center;
}

.big-text {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 36px;
}

.card-container {
    display: flex;
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 170px;
}

.card-image {
    border: #3882f6 solid 4px;
    border-radius: 16px;
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 8px;
}

.card-text {
    font-size: 18px;
}

.section-three {
    padding: 100px 12% 79px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-container {
    max-width: 770px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.person {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
    padding-right: 40px;
}